@page "/accesses"

@using EquipmentTrackerThesis.Data;
@using EquipmentTrackerThesis.Database;
@using EquipmentTrackerThesis.Database.Models;
@inject DatabaseHandler _databaseHandler;
@inject DatabaseContext _dbcontext;
@inject SignInCheck signInCheck;
@inject NavigationManager navigationmanager;

<PageTitle>Jogosultságok</PageTitle>

<h1>Belépési jogosultságok </h1>
<h2>@surName @firstName</h2>

<hr />
<div>
    <div>
        <img src="/css/Map.jpg" width="1024" height="576" />
    </div>
    <div class="d-flex flex-row justify-content-around">
        <div class="d-flex flex-column">
            <br />
            <div class="d-inline-block">
                Fő épület: 
                <img src=@main width="12" height="12" />
            </div>
            <div>
                Labor: 
                <img src=@lab width="12" height="12" />
            </div>
            <div>
                Fejleztőközpont:
                <img src=@rnd width="12" height="12" />
            </div>
            <div>
                Gyártósor:
                <img src=@prod width="12" height="12" />
            </div>
            <div>
                Raktár:
                <img src=@ware width="12" height="12" />
            </div>
            <div>
                Veszélyes áru raktár:
                <img src=@hware width="12" height="12" />
            </div>
            <br />
        </div>
        <div>
            Külső telephely
            <img src=@county width="12" height="12" />
        </div>
    </div>
</div>


@code {
    public string? main;
    public string? lab;
    public string? county;
    public string? rnd;
    public string? prod;
    public string? ware;
    public string? hware;
    public int accessCardId;
    public string? firstName;
    public string? surName;
    public int employee;
    private string selectedEmail = "";

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            
        }
    }

    protected override void OnInitialized()
    {
        //If there is no signed in user, the page reloads the Account page, where users can log in.
        if (signInCheck.CurrentEmployee == null || string.IsNullOrEmpty(signInCheck.CurrentEmployee.Username))
        {
            navigationmanager.NavigateTo("/");
            return;
        }

        base.OnInitialized();

        //Searches the logged in user's data.
        selectedEmail = signInCheck.CurrentEmployee?.Employee?.Email ?? "";
        var employees = _databaseHandler.GetAllEmployees();
        var employeeEmails = employees.Select(x => x.Email).ToList();
        if (string.IsNullOrEmpty(signInCheck.CurrentEmployee?.Employee?.Email) == false)
        {
            var foundEmployee = employees.FirstOrDefault(x => x.Email == selectedEmail);
            if (foundEmployee != null)
            {
                employee = foundEmployee.Id;
            }
        }

        //Fills the necessary variabes with the user's data.
        var jobTitles = _databaseHandler.GetAllJobTitles();
        var accessCards = _databaseHandler.GetAllAccessCards();

        accessCardId = jobTitles[employees[employee].JobTitle-5000].AccessCardType-1000;
        
        surName = employees[employee].SurName;
        firstName = employees[employee].FirstName;

        //Developement: find an easyer and shorter way to handle these images.
        bool a = accessCards[accessCardId].MainBuilding;
        if (a == true)
        {
            main = "/css/check.png";
        }
        else
        {
            main = "/css/close.png";
        }

        bool b = accessCards[accessCardId].Laboratory;
        if (b == true)
        {
            lab = "/css/check.png";
        }
        else
        {
            lab = "/css/close.png";
        }

        bool c = accessCards[accessCardId].DevelopementCenter;
        if (c == true)
        {
            rnd = "/css/check.png";
        }
        else
        {
            rnd = "/css/close.png";
        }

        bool d = accessCards[accessCardId].ProductionSite;
        if (d == true)
        {
            prod = "/css/check.png";
        }
        else
        {
            prod = "/css/close.png";
        }

        bool e = accessCards[accessCardId].Warehouse;
        if (e == true)
        {
            ware = "/css/check.png";
        }
        else
        {
            ware = "/css/close.png";
        }

        bool f = accessCards[accessCardId].HazardWarehouse;
        if (f == true)
        {
            hware = "/css/check.png";
        }
        else
        {
            hware = "/css/close.png";
        }

        bool g = accessCards[accessCardId].CountrysideSite;
        if (g == true)
        {
            county = "/css/check.png";
        }
        else
        {
            county = "/css/close.png";
        }
    }

}
