@page "/"
@using EquipmentTrackerThesis.Data;
@using EquipmentTrackerThesis.Database;
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inject DatabaseHandler _dbHandler
@inject SignInCheck signInCheck
@inject NavigationManager navigationmanager

<PageTitle>Account</PageTitle>

@if (!string.IsNullOrEmpty(mainLayout.GetUserName()))
{
    <h3 class="my-4">Saját fiók</h3>

    <p>@mainLayout.GetUserName()</p>

    <button type="button" class="btn btn-danger" @onclick="mainLayout.Logout">Kilépés</button>
}
else
{
    <h3 class="my-4">Kérem lépjen be</h3>

    <button type="button" class="btn btn-success" @onclick="mainLayout.OpenLogin">Belépés</button>
}

@code {
    
    private string errorMessage;

    [CascadingParameter]
    public MainLayout mainLayout { get; set; }
    
}
