@page "/"
@using EquipmentTrackerThesis.Database;
@using EquipmentTrackerThesis.Database.Models;
@inject DatabaseHandler _databaseHandler;


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            /*AccessCard x = new AccessCard();
            x.MainBuilding = true;
            x.Laboratory = false;
            x.ProductionSite = true;
            x.ProductionSite = false;
            x.HazardWarehouse = true;
            x.DevelopementCenter = false;
            x.CountrysideSite = false;

            _databaseHandler.AddNewAccessCard(x); 
            var accessCards = _databaseHandler.GetAllAccessCards();

            bool z = accessCards[1].Laboratory;
            _databaseHandler.DeleteAccessCard(accessCards[7]);*/

            Devices x = new Devices();
            x.SerialNumber = "51654132516sdf";
            x.Type = "Tablet";
            x.PurchaseDate = 2024-02-28;


            _databaseHandler.AddNewAccessCard(x);
            var accessCards = _databaseHandler.GetAllAccessCards();

            bool z = accessCards[1].Laboratory;
            _databaseHandler.DeleteAccessCard(accessCards[7]);
        }
    }
}